body{
    margin: 0px;
}

#d1{
    height: 240px;
    width: 380px;
    background-color: rgb(80, 180, 255);
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(88, 85, 85, 0.8) 
}

#d1:hover{
    background-color: rgb(140, 230, 240);
}

#se1{
    height: 75px;
    background-color: rgb(80, 90, 250);
    box-shadow: 0px 5px 25px black;
}

#se2{
    width: 300px;
    height: 500px;
    float: left;
    background-color: rgb(114, 238, 90);
    box-shadow: 0 0 20px 12px rgba(0,0,0,0.75);
    clip-path: inset(0px -40px 0px 0px); /*para a sombra*/
    overflow: auto;
    overflow-x: hidden;
}

.cats{
    background-color: rgb(114, 238, 90);
    width: 100%;
    margin-top: 5%;
    padding: 10px;
}

.cc{
    border: 2px solid black;
    background-color: rgb(245, 245, 93);
    text-align: center;
    height: 50px;
    width: 80%;
    margin-left: 5%;

}

.cc:hover{
    background-color: rgb(238, 232, 180);
}

#se3{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;  
}

#se4{
    background-color: rgb(80, 90, 250);
    min-height: 82px;
}

img{
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}
p{
    text-align: center;
    padding-top: 80px;
}
