
.d1{

    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    background-color: white;

}

.im_titulo{

    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(90, 90, 90);
}

h1{
    text-align: center; color: black;
}

p{
    text-align: justify;
    margin: 20px;
    font-size: 25px;
    text-indent: 3em; /*Identação da primeira linha de um páragrafo*/
}


table{
    border-collapse: collapse;
    float: right;
    margin: 30px;
}
td, th{
    border: black 2px solid;
    text-align: center;
    padding: 5px 20px 5px 20px;

}

.img_float_left{
    float: left;
    margin-right: 20px;
    max-width: 100%;
}

.img_float_right{
    float: right;
    margin-left: 20px;
    max-width: 100%;
}
.mapa{
    max-width: 100%; 
}
